In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:

data=pd.read_csv('/content/drive/MyDrive/loan_data.csv')

In [ ]:
data

     Gender Married  ApplicantIncome  LoanAmount Loan_Status
0      Male     Yes             4583    128000.0           N
1      Male     Yes             3000     66000.0           Y
2      Male     Yes             2583    120000.0           Y
3      Male      No             6000    141000.0           Y
4      Male     Yes             5417    267000.0           Y
..      ...     ...              ...         ...         ...
572  Female      No             2900     71000.0           Y
573    Male     Yes             4106     40000.0           Y
574    Male     Yes             8072    253000.0           Y
575    Male     Yes             7583    187000.0           Y
576  Female      No             4583    133000.0           N

[577 rows x 5 columns]

In [ ]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
data['Gender']=data['Gender'].map({'Male':0,'Female':1})

In [ ]:
data

     Gender Married  ApplicantIncome  LoanAmount Loan_Status
0         0     Yes             4583    128000.0           N
1         0     Yes             3000     66000.0           Y
2         0     Yes             2583    120000.0           Y
3         0      No             6000    141000.0           Y
4         0     Yes             5417    267000.0           Y
..      ...     ...              ...         ...         ...
572       1      No             2900     71000.0           Y
573       0     Yes             4106     40000.0           Y
574       0     Yes             8072    253000.0           Y
575       0     Yes             7583    187000.0           Y
576       1      No             4583    133000.0           N

[577 rows x 5 columns]

In [ ]:
data['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
data['Married']=data['Married'].map({'Yes':0,'No':1})

In [ ]:
data

     Gender  Married  ApplicantIncome  LoanAmount Loan_Status
0         0        0             4583    128000.0           N
1         0        0             3000     66000.0           Y
2         0        0             2583    120000.0           Y
3         0        1             6000    141000.0           Y
4         0        0             5417    267000.0           Y
..      ...      ...              ...         ...         ...
572       1        1             2900     71000.0           Y
573       0        0             4106     40000.0           Y
574       0        0             8072    253000.0           Y
575       0        0             7583    187000.0           Y
576       1        1             4583    133000.0           N

[577 rows x 5 columns]

In [ ]:
data['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [ ]:
data['Loan_Status']=data['Loan_Status'].map({'N':0,'Y':1})

In [ ]:
data

     Gender  Married  ApplicantIncome  LoanAmount  Loan_Status
0         0        0             4583    128000.0            0
1         0        0             3000     66000.0            1
2         0        0             2583    120000.0            1
3         0        1             6000    141000.0            1
4         0        0             5417    267000.0            1
..      ...      ...              ...         ...          ...
572       1        1             2900     71000.0            1
573       0        0             4106     40000.0            1
574       0        0             8072    253000.0            1
575       0        0             7583    187000.0            1
576       1        1             4583    133000.0            0

[577 rows x 5 columns]

In [ ]:
X=data[['Gender','Married','ApplicantIncome','LoanAmount']]

In [ ]:
y=data['Loan_Status']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,shuffle=True)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(X,y)

LogisticRegression()

In [ ]:
model.fit(X_train,y_train)

LogisticRegression()

In [ ]:
Prediction=model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,Prediction)

0.6666666666666666